.page404-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e66465, #9198e5);
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .page404-title {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
  }
  
  .page404-subtitle {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .page404-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .page404-home-btn {
    padding: 10px 20px;
    background-color: white;
    color: #e66465;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .page404-home-btn:hover {
    background-color: #e66465;
    color: white;
    cursor: pointer;
  }
  